<!-- A1  instalacion de Boostrap escribiendo en la terminal npm install bostrap-->
<!-- A2 antes de levantar el NG SERVE ........importando dentro de nuestro poryecto el CSS
NOS VAMOS A angulas.json en la parte de assets que es la ruta donde vamos 
a poder definir nuestros archivos estaticos 
el parte de styles: [ ] es donde podemosdefinir estilos de terceros por ejemplo
el de bosstrap   "node_modules/bootstrap/dist/css/bosststrap.min.css",-->


<!-- B1 Template Driven (/template)
    Template Driven ...un paso para el template que tenemos que hacer es si o si
es agregar dentro del modulo la libreria correspondinete para la gestion de cada 
uno de los formularios => app.module.ts B2....despues para empezar a definir el 
formulario =>  template.html B4 -->
<div class="container">
<div class="row">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
<hr>

<!-- C1 Model Driven creacion del formulario (/model)
    al igual que los template es tambien agregar al modulo la libreria que 
contiene todas las herramientas  que vamos a utilizar en este caso al ser un
formulario de tipo model vamos a generar un objeto dentro del ts del componente donde
lo coloquemos este objeto es una clase viene de una clase esa clase no esta incluida
por defecto la tenemos que incluir ... incluyendo ReactiveFormsModule en module.ts C2
despues al componente model.ts =>C3 VAMOS HCER MUCHO TRABAJO DENTRO DEL TS -->
<router-outlet></router-outlet>


<!-- D1 6. Model Driven - Validaciones simples 
    Validaciones simples...para ellos se analizan los FormControl -->
<!-- D1 el formControl simpre recibe un primer parametro el que vamos analizar 
nso dirigmos al => model.ts D2 -->
<router-outlet></router-outlet>

<!-- E1 7.Model Driven - Validaciones simples II  -->
<!--  EN EL INPUT APARTE DE VALOR REQUERIDO pondremos el tamanio requerido 
lo haremos en el => model.ts E2-->

<!-- F1 8. Model Driven - Propiedades de controles -->
<!-- Estas 6 validaciones  
valid--invalid
pristine--dirty
untouched--touched 
las podemos utilizar como propiedaddes tanto del formulario como de los controles  
primero en el HMTL => model.html F2-->

<!-- G1 9. Model Driven - Validaciones personalizadas (edad) -->
<!--    TAMBIEN PODEMOS CREAR NUSTRPOS PROPIOS VALIDADORES si queremos validad
campos muy especificos por ejemplo edad vamos al => model.ts G2 -->

<!-- H1 10. Model Driven - Validaciones personalizadas (dni) -->
<!-- OTRO Ejemplo del control dni .... paraq ello creamos un metodo => model.ts H2 -->