<!-- A1  instalacion de Boostrap escribiendo en la terminal npm install bostrap-->
<!-- A2 antes de levantar el NG SERVE ........importando dentro de nuestro poryecto el CSS
NOS VAMOS A angulas.json en la parte de assets que es la ruta donde vamos 
a poder definir nuestros archivos estaticos 
el parte de styles: [ ] es donde podemosdefinir estilos de terceros por ejemplo
el de bosstrap   "node_modules/bootstrap/dist/css/bosststrap.min.css",-->

<h4>Template Driven</h4>
<!-- B1 Template Driven ...un paso para el template que tenemos que hacer es si o si
es agregar dentro del modulo la libreria correspondinete para la gestion de cada 
uno de los formularios => app.module.ts B2....despues para empezar a definir el 
formulario =>  template.html B4 -->
<div class="container">
<div class="row">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
<hr>
